*{
    margin: 0;
    padding: 0;
}

.img1{
        height: 58px;
    width: 156px;
    display: inline-block;
    background: url(https://images.emtcontent.com/brandlogo/emtlogo_new8.svg) 50% / 138px 58px no-repeat;
}
.nav1{
    display: flex;
    gap: 20px;
    font-family:  Poppins, sans-serif;    
    
}
.main1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    margin-top: 9px;
    font-family:  Poppins, sans-serif;
}
.btn button{
    padding: 5px 15px;
    background: #2196f3;
    border-radius: 40px;
    color: #fff;
    font-weight: 600;
    font-size: 13px;
    cursor: pointer;
    border: 0;

}
.nav1 a{
    text-decoration: none;
    color: black;
}
.nav1 small{
    color: #2d2d2d;
}
select{
    border: 0;
}
.main2{
    display: flex;
    gap: 50px;
    margin-top: 10px;
    margin-left: 120px;
    
    
    
}
.main2 button{
    border: 0;
    background-color: white;
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
    
}
.main2 button:hover{
    background-color: rgb(232, 242, 252);
    

}
.main3{
    background-image: linear-gradient(to right, #2F80ED, #56CCF2);
    width: 100%;
    height: 245px;
    padding-top: 30px;
    
    
}
.txe1{
    position: relative;
    left: 1150px;
    bottom: 20px;
    font-size: 25px;
    font-weight: 600;
    color: #fff;
    
}
.btn1{
    position: relative;
    left: 150px;
 
}
.btn2{
    background-color: transparent ;
    color: #f1f7fa;
    border-radius: 20px;
    border: 0;
    width: 86px;
    font-weight: 600;
    border-radius: 20px;
    font-size: 12px;
    margin: 0;
    padding: 2px 0;
    text-align: center;
    margin-right: 1px;
    cursor: pointer;
}
.btn2:hover{
    color: #1853a2;
    background-color: #ffffff;
    font-size: 12px;
    margin: 0;
    padding: 2px 0;
    text-align: center;
    width: 86px;
    font-weight: 600;
    border-radius: 20px;
    margin-right: 1px;
}
.btn3{
    color: #f1f7fa;
    background-color: transparent;
    border: 0;
    font-size: 12px;
    margin: 0;
    padding: 2px 0;
    text-align: center;
    width: 86px;
    font-weight: 600;
    border-radius: 20px;
    margin-right: 1px;
    cursor: pointer;

}

.btn3:hover{
    color: #1853a2;
    background-color: #ffffff;
    font-size: 12px;
    list-style: outside none;
    margin: 0;
    padding: 2px 0;
    text-align: center;
    width: 86px;
    font-weight: 600;
    border-radius: 20px;
    margin-right: 1px;
}
.btn4{
        color: #f1f7fa;
    background-color: transparent;
    border: 0;
    font-size: 12px;
    margin: 0;
    padding: 2px 0;
    text-align: center;
    width: 86px;
    font-weight: 600;
    border-radius: 20px;
    margin-right: 1px;
    cursor: pointer;
}
.btn4:hover{
    color: #1853a2;
    background-color: #ffffff;
    font-size: 12px;
    list-style: outside none;
    margin: 0;
    padding: 2px 0;
    text-align: center;
    width: 86px;
    font-weight: 600;
    border-radius: 20px;
    margin-right: 1px;
}
.txe7{
    background-color: #ef6614;
    width: 154px;
    height: 89px;
    align-content: center;
    text-align: center;
    border-top-right-radius:10px ;
    border-bottom-right-radius: 10px;
    cursor: pointer;

}
.txe7:hover{
    background-color: brown;
}
.txe7 p{
    font-size: 20px;
    font-weight: 600;
    color: white;

}

.nav2{
    display: flex;
    position: relative;
    left: 150px;
    align-items: center;
}
.txe2{
    background-color: white;
    width: 277px;
    height: 89px;
    align-content: center;
    border-right: 1px solid silver;
    padding-left: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    cursor: pointer;
    
    
    
}
.txe2:hover{
    background-color: rgb(232, 242, 252);
}
.txe3{

    background-color: white;
    width: 277px;
    height: 89px;
    align-content: center;
    border-right: 1px solid silver;
    padding-left: 10px;
    cursor: pointer;
    
}
.txe3:hover{
    background-color: rgb(232, 242, 252);
}
.txe4{
    background-color: white;
    width: 154px;
    height: 89px;
    align-content: center;
    border-right: 1px solid silver;
    padding-left: 10px;
    cursor: pointer;
   
}
.txe4:hover{
    background-color: rgb(232, 242, 252);
}
.txe5{
    background-color: white;
    width: 154px;
    height: 89px;
    align-content: center;
    border-right: 1px solid silver;
    padding-left: 10px;
    cursor: pointer;
 
}
.txe5:hover{
    background-color: rgb(232, 242, 252);
}
.txe6{
    background-color: white;
    width: 154px;
    height: 89px;
    align-content: center;
    border-right: 1px solid silver;
    padding-left: 10px;
    cursor: pointer;

}
.txe6:hover{
    background-color: rgb(232, 242, 252);
}
.nav3{
    display: flex;
    margin-top: 16px;
}
.in1{
    position: relative;
    left: 490px;
    color: white;
    font-size: 16px;
}
.red1{
   position: relative;
   left: 150px;
   color: white;
   font-size: 14px;
   cursor: pointer;
   

}
.red1 label{
    font-size: 18px;
}
.in2{
    position: absolute;
    top: 395px;
    left: 155px;
    color: white;
    border: 1px solid #fff;
    padding: 5px 10px 1px 10px;
    border-radius: 8px 8px 0px 0px;
    background: #45acee;
    font-size: 12px;
    font-weight: 500;
    border-bottom: 0;
    text-transform: uppercase;
    width: 100px;
}
.main4{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    margin-left: 150px;
    margin-right: 150px;
    text-align: center;
    
}
.main4 button:hover{
    background-color: rgb(232, 242, 252);
}
.main4 button{
    background-color: white;
    border: 0;
    border-radius: 15px;
    height: 35px;
    cursor: pointer;
}
.nav4{
    align-content: center;
    text-align: center;
    background-color: #faf8f9;
    height: 300px;
    margin-top: 10px;
}
.txe8{
    font-size: 34px;
    font-weight: 600;
}
.btn5 button{
    border-radius: 40px;
    font-weight: 500;
    font-size: 15px;
    /* border-radius: 15px; */
    background-color: transparent;
    border: 0;
    width: 80px;
    height: 30px;
    cursor: pointer;
    
}
    
.btn5 button:hover{
    background-color: rgb(232, 242, 252);
}
 .btn5{
    display: flex;
    gap: 20px;
    padding-top: 25px;
    justify-content: center;
 }



